In [67]:
import pandas as pd

In [68]:
import numpy as np

import matplotlib.pyplot as plt

In [69]:
data = pd.read_csv('2015_data.csv',  
                   dtype={'education_reporting_flag': int, 'age_recode_52': str
                   },low_memory=False)

In [55]:
data.describe()

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,detail_age_type,detail_age,age_substitution_flag,age_recode_27,age_recode_12,...,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
count,2.718198e+06,73043.000000,2.645155e+06,2.718198e+06,2.718198e+06,2.718198e+06,2.718198e+06,13.0,2.718198e+06,2.718198e+06,...,0.0,0.0,0.0,2.718198e+06,12288.0,26149.000000,2.718198e+06,2.718198e+06,2.718198e+06,2.718198e+06
mean,1.226700e+00,12.602371,3.718700e+00,9.731282e-01,6.381973e+00,1.025770e+00,7.345519e+01,1.0,2.019971e+01,9.301892e+00,...,NaN,NaN,NaN,1.696986e+00,1.0,1.753375,1.267771e+00,1.206286e+00,1.126411e+02,5.930529e+00
std,4.993832e-01,9.516661,1.985368e+00,1.617089e-01,3.520758e+00,3.105674e-01,2.230170e+01,0.0,3.850541e+00,1.824597e+00,...,NaN,NaN,NaN,5.282618e+00,0.0,0.431055,6.573266e-01,5.712140e-01,6.726954e+01,1.197932e+00
min,1.000000e+00,0.000000,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,...,NaN,NaN,NaN,1.000000e+00,1.0,1.000000,1.000000e+00,1.000000e+00,1.000000e+02,1.000000e+00
25%,1.000000e+00,11.000000,3.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,6.300000e+01,1.0,1.800000e+01,8.000000e+00,...,NaN,NaN,NaN,1.000000e+00,1.0,2.000000,1.000000e+00,1.000000e+00,1.000000e+02,6.000000e+00
50%,1.000000e+00,12.000000,3.000000e+00,1.000000e+00,6.000000e+00,1.000000e+00,7.700000e+01,1.0,2.100000e+01,1.000000e+01,...,NaN,NaN,NaN,1.000000e+00,1.0,2.000000,1.000000e+00,1.000000e+00,1.000000e+02,6.000000e+00
75%,1.000000e+00,13.000000,5.000000e+00,1.000000e+00,9.000000e+00,1.000000e+00,8.700000e+01,1.0,2.300000e+01,1.100000e+01,...,NaN,NaN,NaN,1.000000e+00,1.0,2.000000,1.000000e+00,1.000000e+00,1.000000e+02,6.000000e+00
max,4.000000e+00,99.000000,9.000000e+00,1.000000e+00,1.200000e+01,9.000000e+00,9.990000e+02,1.0,2.700000e+01,1.200000e+01,...,NaN,NaN,NaN,7.800000e+01,1.0,2.000000,3.000000e+00,4.000000e+00,9.980000e+02,9.000000e+00

In [70]:
data_resident = data[data['resident_status'] == 1]

In [71]:
len(data_resident)

2197091

In [95]:
group_by_age = data_resident[['age_recode_52', '39_cause_recode']].groupby('age_recode_52')
count_by_age = group_by_age.agg('count')

In [96]:
percentage_by_age = 100*count_by_age/len(data_resident)

In [97]:
s = data['39_cause_recode'].groupby(data['age_recode_52']).value_counts()

In [101]:
w = s.groupby(level=0).nlargest(5).reset_index(level=0, drop=True)

In [102]:
w.to_csv("cat_2015.csv")